.color{
  color: rgb(12, 12, 58) !important;
}
.bg{
  background-color: rgb(12, 12, 58) !important;
}
.width{
  width: 150px !important;
}
.appContainer{
  background-color: rgba(222, 238, 237, 0.288) !important;
}